@charset "UTF-8";
/*Mobile*/
/* Image Path */
/* Colors */
/* Gradient */
/* Image Path */
@font-face {
  font-family: "PPNeueMontreal";
  src: local("PPNeueMontreal-Thin"), url("../creative-moon/fonts/PPNeueMontreal-Thin.woff2") format("woff2"), url("../creative-moon/fonts/PPNeueMontreal-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: local("PPNeueMontreal-Book"), url("../creative-moon/fonts/PPNeueMontreal-Book.woff2") format("woff2"), url("../creative-moon/fonts/PPNeueMontreal-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: local("PPNeueMontreal-Italic"), url("../creative-moon/fonts/PPNeueMontreal-Italic.woff2") format("woff2"), url("../creative-moon/fonts/PPNeueMontreal-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: local("PPNeueMontreal-Medium"), url("#../creative-moon/fonts/PPNeueMontreal-Medium.woff2") format("woff2"), url("../creative-moon/fonts/PPNeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: local("PPNeueMontreal-SemiBolditalic"), url("../creative-moon/fonts/PPNeueMontreal-SemiBolditalic.woff2") format("woff2"), url("../creative-moon/fonts/PPNeueMontreal-SemiBolditalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PPNeueMontreal";
  src: local("PPNeueMontreal-Bold"), url("../creative-moon/fonts/PPNeueMontreal-Bold.woff2") format("woff2"), url("../creative-moon/fonts/PPNeueMontreal-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  font-family: "PPNeueMontreal", sans-serif;
  position: relative;
  height: auto;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-family: "PPNeueMontreal", sans-serif;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: 600;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.4;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, button, label {
  text-decoration: none;
}

a, button, input, label, select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button, input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

html {
  background-color: rgb(255, 255, 255);
  touch-action: none;
  overscroll-behavior: none;
}
html #smooth-wrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html .smooth-content {
  width: 100%;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.4s;
}
html body.bg-black .smooth-content {
  background-color: rgb(20, 16, 28);
}
html.has-scroll-smooth {
  overflow: inherit !important;
}
html.has-scroll-smooth body {
  overflow: inherit !important;
}

.section {
  padding-left: 3.3vw;
  padding-right: 3.3vw;
}
@media (max-width: 990.98px) {
  .section {
    padding-left: 2.6vw;
    padding-right: 2.6vw;
  }
}
@media (max-width: 766.98px) {
  .section {
    padding-left: 5.13vw;
    padding-right: 5.13vw;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  touch-action: none;
  /* 모바일 터치 스크롤 차단 */
}

.contact--talk .contact-talk-box {
  padding-top: 20vw;
}
@media (max-width: 574.98px) {
  .contact--talk .contact-talk-box {
    padding-top: 25vh;
  }
}
.contact--talk .contact-talk-box h2 a {
  font-size: 9.72vw;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 100%;
  mix-blend-mode: difference;
  display: inline-block;
  position: relative;
  transition-duration: 0.4s;
  letter-spacing: 0px;
}
@media (max-width: 1198.98px) {
  .contact--talk .contact-talk-box h2 a {
    font-size: 10.5263157895vw;
  }
}
@media (max-width: 574.98px) {
  .contact--talk .contact-talk-box h2 a {
    font-size: 18.8235294118vw;
  }
}
.contact--talk .contact-talk-box h2 a span {
  position: absolute;
  right: -1.4vw;
  bottom: 1.39vw;
  mix-blend-mode: difference;
  transition-duration: 0.4s;
  transform: translateX(0);
  opacity: 0;
}
.contact--talk .contact-talk-box h2 a span:nth-child(1) {
  opacity: 1;
}
.contact--talk .contact-talk-box h2 a:hover {
  letter-spacing: 0.56vw;
}
.contact--talk .contact-talk-box h2 a:hover span {
  opacity: 1;
}
.contact--talk .contact-talk-box h2 a:hover span:nth-child(1) {
  transform: translateX(0vw);
}
.contact--talk .contact-talk-box h2 a:hover span:nth-child(2) {
  transform: translateX(1.67vw);
}
.contact--talk .contact-talk-box h2 a:hover span:nth-child(3) {
  transform: translateX(3.34vw);
}
.contact--talk .contact-talk-box h2 a:hover span:nth-child(4) {
  transform: translateX(5.01vw);
}
.contact--talk .contact-talk-tail {
  letter-spacing: 0.05em;
  padding-top: 1.67vw;
  font-size: 1.11vw;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}
@media (max-width: 1198.98px) {
  .contact--talk .contact-talk-tail {
    font-size: 2.1052631579vw;
  }
}
@media (max-width: 574.98px) {
  .contact--talk .contact-talk-tail {
    font-size: 3.7647058824vw;
  }
}

.ico-moon-full,
.ico-moon-gibbous,
.ico-moon-half,
.ico-moon-crescent {
  width: 1.11vw;
  height: 1.11vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ico-moon-full {
  background-image: url(../creative-moon/img/ico-moon-full.webp);
}

.ico-moon-gibbous {
  background-image: url(../creative-moon/img/ico-moon-gibbous.webp);
}

.ico-moon-half {
  background-image: url(../creative-moon/img/ico-moon-half.webp);
}

.ico-moon-crescent {
  background-image: url(../creative-moon/img/ico-moon-crescent.webp);
}

footer#footer {
  padding-top: 20vw;
  padding-bottom: 1.3888888889vw;
  font-size: 0.9722222222vw;
  display: block;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}
@media (max-width: 1198.98px) {
  footer#footer {
    font-size: 1.0526315789vw;
  }
}
@media (max-width: 990.98px) {
  footer#footer {
    font-size: 1.4112903226vw;
  }
}
@media (max-width: 574.98px) {
  footer#footer {
    padding-top: 20vh;
    font-size: 2.8235294118vw;
  }
}

body.admin-bar .nav-ico, body.admin-bar .Logo_Moon {
  transform: translateY(32px);
}
@media (max-width: 766.98px) {
  body.admin-bar .nav-ico, body.admin-bar .Logo_Moon {
    transform: translateY(46px);
  }
}

/*Nav*/
#nav-main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(20, 16, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;
  transition-duration: 0.4s;
  visibility: hidden;
  box-sizing: border-box;
  padding-left: 16.6666666667vw;
  padding-right: 20.8333333333vw;
}
@media (max-width: 1198.98px) {
  #nav-main {
    padding-left: 11.1111111111vw;
    padding-right: 13.8888888889vw;
  }
}
@media (max-width: 990.98px) {
  #nav-main {
    padding-left: 14.0625vw;
    padding-right: 18.2291666667vw;
  }
}
@media (max-width: 766.98px) {
  #nav-main {
    padding-bottom: 12.8205128205vw;
    padding-left: 10.2564102564vw;
    padding-right: 10.2564102564vw;
  }
}
#nav-main.visible {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}
#nav-main .nav-main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
@media (max-width: 990.98px) {
  #nav-main .nav-main {
    flex-direction: column-reverse;
  }
}
#nav-main .nav-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 10vh;
  padding-top: 5vh;
  width: 100%;
}
#nav-main .nav-logo {
  width: 50%;
  position: relative;
  height: 100%;
}
#nav-main .nav-logo .item {
  position: relative;
}
@media (max-width: 990.98px) {
  #nav-main .nav-logo .item {
    display: none;
  }
}
@media (max-width: 574.98px) {
  #nav-main .nav-logo .item {
    padding-bottom: 5.6470588235vw;
    display: none;
  }
}
#nav-main .nav-logo .item a {
  display: block;
  opacity: 0;
  transition-duration: 0.2s;
  transition-delay: 1s;
}
#nav-main .nav-logo .item a img {
  width: 20.8333333333vw;
  transform: translateY(100%);
  clip-path: inset(0 0 100% 0);
  transition: transform 0.8s ease-out, clip-path 0.8s ease-out;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}
#nav-main .nav-logo .item a .nav-text-mask {
  overflow: hidden;
}
#nav-main .nav-logo .item a .nav-text-mask .nav-text-item {
  font-size: 5.5555555556vw;
  font-weight: 400;
  line-height: 100%;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  transform: translateY(100%);
  transition-duration: 0.2s;
  opacity: 0;
}
@media (max-width: 574.98px) {
  #nav-main .nav-logo .item a .nav-text-mask .nav-text-item {
    font-size: 9.4117647059vw;
  }
}
#nav-main .nav-logo .item a .nav-text-mask.active .nav-text-item {
  transform: translateY(0%);
  opacity: 1;
}
#nav-main .nav-logo .item.active a {
  opacity: 1;
}
#nav-main .nav-logo .item.active a img {
  transform: translateY(0);
  clip-path: inset(0 0 0 0);
}
#nav-main .nav-logo .item.active .nav-logo-img {
  position: absolute;
  width: 12.5vw;
  height: 12.5vw;
  top: -4.1666666667vw;
  left: -4.1666666667vw;
}
#nav-main .nav-logo .item.active .nav-logo-img #moon-logo-menu-mask .mask-circle-logo {
  transition-duration: 0.4s;
  transform: translate(2px, 2px);
  animation-delay: 1s;
  animation: logo-hover 1s ease-in-out;
}
#nav-main .nav-logo .extra-menu {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 990.98px) {
  #nav-main .nav-logo .extra-menu {
    position: relative;
    inset: inherit;
  }
}
#nav-main .nav-logo #moon-menu-mask .mask-circle {
  transition-duration: 0.4s;
  transform: translate(2px, 2px);
  animation: logo-hover 2s ease-in-out;
}
@keyframes logo-hover {
  0% {
    transform: translate(40px, 0);
  }
  50% {
    transform: translate(8px, 0);
  }
  100% {
    transform: translate(2px, 2px);
  }
}
#nav-main .nav-parent {
  width: 50%;
}
@media (max-width: 990.98px) {
  #nav-main .nav-parent {
    width: 100%;
  }
}
@media (max-width: 574.98px) {
  #nav-main .nav-parent {
    width: 100%;
  }
}
@media (max-width: 574.98px) {
  #nav-main .nav-parent > li {
    padding-bottom: 4.7058823529vw;
  }
}
#nav-main .nav-parent > li .item {
  width: 100%;
  overflow: hidden;
}
#nav-main .nav-parent > li .item a {
  font-size: 5.12vw;
  font-weight: 100;
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
  transform: translateY(100%);
  display: inline-block;
  line-height: 1.2;
}
@media (max-width: 990.98px) {
  #nav-main .nav-parent > li .item a {
    font-size: 7.291vw;
  }
}
@media (max-width: 766.98px) {
  #nav-main .nav-parent > li .item a {
    font-size: 11.282vw;
  }
}
@media (max-width: 574.98px) {
  #nav-main .nav-parent > li .item a {
    font-size: 13.1764705882vw;
  }
}
#nav-main .nav-parent > li.animate .item a {
  transform: translateY(0);
}

.extra-menu {
  padding-top: 1rem;
  opacity: 0;
}
.extra-menu ul li {
  overflow: hidden;
  margin-bottom: 0.5rem;
  list-style: none;
}
.extra-menu ul li:last-child {
  margin-bottom: 0;
}
.extra-menu ul li a {
  font-size: 1.25vw;
  color: rgb(255, 255, 255);
  transform: translateY(0);
  display: inline-block;
}
@media (max-width: 574.98px) {
  .extra-menu ul li a {
    font-size: 4.7058823529vw;
  }
}

.Logo_Moon {
  position: fixed;
  top: 2.2vw;
  left: 3.3vw;
  overflow: hidden;
  z-index: 100;
  mix-blend-mode: difference;
  transition-duration: 0.4s;
}
@media (max-width: 574.98px) {
  .Logo_Moon {
    top: 3.7647058824vw;
    left: 5.13vw;
    z-index: 9999;
  }
  .Logo_Moon.active {
    left: 10.2564102564vw;
  }
  .Logo_Moon.active .full-moon .mask-circle {
    opacity: 1 !important;
  }
}
.Logo_Moon.d-none {
  display: none;
}
.Logo_Moon .mobile {
  display: none;
  height: 48px;
}
@media (max-width: 574.98px) {
  .Logo_Moon .mobile {
    display: none;
  }
}
.Logo_Moon .full-moon {
  width: auto;
  height: 48px;
  overflow: hidden;
  position: relative;
}
.Logo_Moon .full-moon a {
  display: block;
}
.Logo_Moon .full-moon a #moon-mask .mask-circle {
  transition-duration: 0.4s;
  transform: translate(2px, 2px);
  animation: logo-hover 2s ease-in-out;
}
@keyframes logo-hover {
  0% {
    transform: translate(40px, 0);
  }
  50% {
    transform: translate(8px, 0);
  }
  100% {
    transform: translate(2px, 2px);
  }
}
.Logo_Moon .full-moon a .logo-m {
  position: absolute;
  bottom: 2px;
  right: 6px;
  transform: translate(48px, 48px);
  transition-duration: 0.4s;
  animation: logo-m 1s ease-out forwards;
  animation-delay: 1s;
  mix-blend-mode: difference;
  opacity: 0;
}
@media (max-width: 574.98px) {
  .Logo_Moon .full-moon a .logo-m {
    right: 8px;
  }
}
@keyframes logo-m {
  0% {
    opacity: 0;
    transform: translate(48px, 48px) scale(0);
  }
  90% {
    opacity: 1;
    transform: translate(0, 0) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}
.Logo_Moon .full-moon a:hover #moon-mask .mask-circle {
  transform: translate(48px, 48px);
}
.Logo_Moon .full-moon a:hover .logo-m {
  bottom: 3px;
  right: 8px;
}
.Logo_Moon .logo-text {
  position: relative;
  display: inline-block;
  height: 39px;
  overflow: hidden;
}
.Logo_Moon .logo-text .ico-text {
  fill: rgb(255, 255, 255);
  width: 81px;
  height: 39px;
  animation: ani-logo-text-opacity 8s linear infinite;
}
.Logo_Moon .logo-text .ico-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  animation: ani-logo-img-opacity 8s linear infinite;
}
.Logo_Moon .logo-text .ico-img svg {
  fill: rgb(255, 255, 255);
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-contact-address {
  opacity: 0;
  font-size: 1.1111111111vw;
  color: rgb(255, 255, 255);
  text-align: right;
  padding-bottom: 2.2222222222vw;
  position: absolute;
  left: 3.3vw;
  right: 3.3vw;
  bottom: 0;
}
@media (max-width: 990.98px) {
  .nav-contact-address {
    left: 2.6vw;
    right: 2.6vw;
  }
}
@media (max-width: 574.98px) {
  .nav-contact-address {
    width: 100%;
    position: relative;
    inset: inherit;
    font-size: 3.7647058824vw;
    text-align: left;
    padding-bottom: 5.6470588235vw;
  }
}

.nav-ico {
  top: 2.2vw;
  right: 3.3vw;
  position: fixed;
  width: 48px;
  height: 48px;
  z-index: 9999;
  cursor: pointer;
  mix-blend-mode: difference;
}
@media (max-width: 766.98px) {
  .nav-ico {
    top: 3.7647058824vw;
    right: 5.13vw;
  }
}
.nav-ico .nav-hamburger {
  width: 48px;
  height: 48px;
  position: relative;
}
.nav-ico .nav-hamburger #moon-nav-mask {
  position: relative;
}
.nav-ico .nav-hamburger .mask-nav-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(2px, 2px);
  transition-duration: 0.4s;
}
.nav-ico .nav-hamburger .nav-bars {
  top: calc(50% - 26px);
  left: calc(50% - 26px);
  position: absolute;
  width: 48px;
  height: 48px;
  mix-blend-mode: difference;
  transition-duration: 0.4s;
  transform: translateY(2px);
}
.nav-ico .nav-hamburger .nav-bars span {
  width: 28px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  display: block;
  position: absolute;
  top: 50%;
  left: calc(50% - 10px);
  transform: translateY(-5px) rotate(0deg);
  transition-duration: 0.4s;
}
.nav-ico .nav-hamburger .nav-bars span:last-child {
  width: 24px;
  transform: translateY(5px);
}
.nav-ico:hover .nav-hamburger .mask-nav-circle {
  transform: translate(48px, 0);
}
.nav-ico.nav-btn__active .nav-bars {
  transform: translate(-1px, 2px);
}
.nav-ico.nav-btn__active .nav-bars span {
  transform: translate(0px) rotate(45deg);
}
.nav-ico.nav-btn__active .nav-bars span:last-child {
  width: 28px;
  transform: rotate(-45deg);
}

@keyframes ani-logo-text-opacity {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ani-logo-img-opacity {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ani-logo-text {
  0% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
    opacity: 1;
  }
  50.000001% {
    transform: translateY(-40px);
    opacity: 0;
  }
  51% {
    transform: translateY(40px);
    opacity: 0;
  }
  95% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes ani-logo-img {
  0% {
    transform: translateY(40px);
  }
  45% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}
.hero.hero-wrok {
  padding-top: 25.6944444444vw;
  padding-bottom: 5.5555555556vw;
}
@media (max-width: 574.98px) {
  .hero.hero-wrok {
    padding-top: 30vh;
  }
}
.hero.hero-wrok h1 {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.hero.hero-about .hero--title__wrap {
  text-transform: uppercase;
  mix-blend-mode: difference;
  display: block;
  padding-left: 5.5555555556vw;
  box-sizing: border-box;
  position: relative;
}
.hero.hero-about .hero--title__wrap .crescent {
  position: absolute;
  left: 0;
  top: -5.5555555556vw;
  width: 14.8611111111vw;
  transition-duration: 0.4s;
  opacity: 0;
}
.hero.hero-about .hero--title__wrap .crescent.active {
  opacity: 1;
}
.hero.hero-about .hero--title__wrap .crescent.active .mask-circle-logo {
  transform: translate(0.2083333333vw, 0.2083333333vw);
}
.hero.hero-about .hero--title__wrap .crescent .nav-logo-img, #moon-logo-hero-mask .hero.hero-about .hero--title__wrap .crescent .nav-logo-img,
.hero.hero-about .hero--title__wrap .crescent .nav-logo-img rect {
  width: 14.8611111111vw;
  height: 14.8611111111vw;
}
.hero.hero-about .hero--title__wrap .crescent .mask-circle-logo {
  transition-duration: 1s;
  transform: translate(0, 0);
}
.hero.hero-about .hero--title__wrap .crescent .mask-circle-logo svg {
  width: 100%;
}
.hero.hero-about .hero--title__wrap strong {
  display: none;
}
.hero .hero-category-wrap {
  position: relative;
}
.hero .hero-category-wrap .hero-category-ico {
  position: absolute;
  left: -1.6666666667vw;
  top: -0.8333333333vw;
  transition-duration: 0.4s;
  opacity: 1;
}
@media (max-width: 574.98px) {
  .hero .hero-category-wrap .hero-category-ico {
    top: -1.8823529412vw;
    left: 0;
  }
}
.hero .hero-category-wrap .hero-category-ico.active {
  opacity: 0.4;
}
.hero .hero-category-wrap .hero-category-ico img {
  width: 3.3333333333vw;
  height: auto;
  transition-duration: 0.4s;
}
@media (max-width: 574.98px) {
  .hero .hero-category-wrap .hero-category-ico img {
    width: 7.5294117647vw;
  }
}
.hero ul.hero-category {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 574.98px) {
  .hero ul.hero-category {
    padding-bottom: 4.7058823529vw;
  }
}
.hero ul.hero-category li {
  margin-bottom: 0.7638888889vw;
  transition-duration: 0.4s;
}
@media (max-width: 574.98px) {
  .hero ul.hero-category li:first-child {
    padding-left: 3.2941176471vw;
  }
}
.hero ul.hero-category li:first-child a {
  position: relative;
}
.hero ul.hero-category li:first-child a::before {
  display: none;
}
.hero ul.hero-category li a {
  font-size: 2.7777777778vw;
  font-weight: 400;
  color: rgb(20, 16, 28);
  transition-duration: 0.4s;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-self: center;
}
@media (max-width: 574.98px) {
  .hero ul.hero-category li a {
    font-size: 4.7058823529vw;
  }
}
.hero ul.hero-category li a::before {
  content: "";
  display: block;
  width: 2.2222222222vw;
  height: 3px;
  background-color: rgb(20, 16, 28);
  margin: 0 0.7291666667vw;
  letter-spacing: -0.01em;
  transition: opacity 0.4s ease-in-out;
}
@media (max-width: 574.98px) {
  .hero ul.hero-category li a::before {
    width: 4.7058823529vw;
    height: 2px;
  }
}
.hero ul.hero-category li a span {
  font-size: 0.9722222222vw;
  font-weight: 100;
  font-style: italic;
  vertical-align: top;
  display: inline-block;
  opacity: 0.6;
  padding-left: 0.2777777778vw;
  transform: translateY(-0.9722222222vw);
}
@media (max-width: 574.98px) {
  .hero ul.hero-category li a span {
    padding-left: 0.9411764706vw;
    font-size: 2.5882352941vw;
  }
}
.hero--title {
  display: flex;
  align-items: flex-end;
  height: 60vh;
  transition-duration: 0.4s;
}
.hero--title__wrap {
  padding-bottom: 2.6388888889vw;
}
.hero--title .hero--title__ani {
  text-align: left;
  font-size: 6.3888888889vw;
  font-weight: 400;
  line-height: 95%;
}
.hero--title .hero--title__ani .hero--title__word {
  display: inline-block;
  overflow: hidden;
}
.hero--title .hero--title__ani .hero--title__word .hero--title__word-child {
  color: rgb(255, 255, 255);
  transform: translateY(100%);
  transition-duration: 0.4s;
  display: inline-block;
  clip-path: inset(0 0 100% 0);
  transition: transform 0.8sease-out, clip-path 0.8sease-out;
}
.hero--title .hero--title__ani .hero--title__word .hero--title__word-child.animate {
  transform: translateY(0);
  transform: translateY(0);
  clip-path: inset(0 0 0 0);
}

.home--hero {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../creative-moon/img/bg_main.webp);
  box-sizing: border-box;
  position: relative;
}
.home--hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(20, 16, 28, 0.9);
  z-index: 1;
}
.home--container {
  width: 66.6666664%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (max-width: 990.98px) {
  .home--container {
    width: 83.333333%;
  }
}
@media (max-width: 766.98px) {
  .home--container {
    width: 100%;
  }
}
.home--container h1 {
  display: block;
}
.home--container h1 .logo {
  text-align: center;
  overflow: hidden;
}
.home--container h1 .logo img {
  width: 100%;
  max-width: 280px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.6s ease-out;
}
@media (max-width: 766.98px) {
  .home--container h1 .logo img {
    max-width: 200px;
  }
}
@media (max-width: 574.98px) {
  .home--container h1 .logo img {
    max-width: 180px;
  }
}
.home--container h1 .title {
  font-size: 6.05vw;
  font-weight: 900;
  color: rgb(255, 255, 255);
  padding-bottom: 1rem;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 990.98px) {
  .home--container h1 .title {
    font-size: 8.47vw;
  }
}
@media (max-width: 766.98px) {
  .home--container h1 .title {
    font-size: 10.07vw;
  }
}
@media (max-width: 574.98px) {
  .home--container h1 .title {
    font-size: 10.07vw;
  }
}
.home--container h1 .title > div {
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.6s ease-out;
}
.home--introduce {
  text-align: center;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 1.1vw;
  max-width: 70%;
  overflow: hidden;
}
.home--introduce p {
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.6s ease-out;
}
@media (max-width: 1198.98px) {
  .home--introduce {
    font-size: 1.53vw;
    max-width: 77%;
  }
}
@media (max-width: 990.98px) {
  .home--introduce {
    font-size: 2.02vw;
  }
}
@media (max-width: 766.98px) {
  .home--introduce {
    font-size: 2.08vw;
    max-width: 80%;
  }
}
@media (max-width: 574.98px) {
  .home--introduce {
    font-size: 16px;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.home--introduce p {
  margin: 0;
}
.home--title {
  height: 100vh;
  transition-duration: 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home--title.expand {
  height: 80vh;
}
.home--title__word {
  display: inline-block;
  overflow: hidden;
}
.home--title__word-child {
  display: inline-block;
  transform: translateY(100%);
  clip-path: inset(0 0 100% 0);
  transition: transform 0.8s ease-out, clip-path 0.8s ease-out;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}
.home--title__word-child.animate {
  transform: translateY(0);
  clip-path: inset(0 0 0 0);
}
.home--title__intro, .home--title__base {
  width: 68.06%;
  max-width: 980px;
  font-size: 6.39vw;
  text-align: center;
  text-transform: uppercase;
  line-height: 95%;
}
@media (max-width: 1198.98px) {
  .home--title__intro, .home--title__base {
    width: 83.33333%;
    font-size: 8.0701754386vw;
  }
}
@media (max-width: 574.98px) {
  .home--title__intro, .home--title__base {
    width: 100%;
    font-size: 9.4117647059vw;
  }
}
.home--title__ani {
  text-align: center;
}
.home--title__base {
  display: none;
}
.home--moon.section {
  overflow: hidden;
  position: relative;
  margin: 6.67vw 3.3vw;
  transition-duration: 0.2s;
  display: flex;
  justify-self: center;
  align-items: center;
}
@media (max-width: 574.98px) {
  .home--moon.section {
    min-height: 50vh;
  }
}
.home--moon.section .home--moon__logo div,
.home--moon.section h2,
.home--moon.section .home--moon__text div {
  opacity: 0;
  transition-duration: 0.4s;
  transform: scale(0.4);
}
.home--moon.section.active {
  margin: 6.67vw 0;
}
.home--moon.section.active .home--moon__logo div,
.home--moon.section.active h2,
.home--moon.section.active .home--moon__text div {
  opacity: 1;
  transform: scale(1);
}
.home--moon.section.active .home--moon__img img {
  opacity: 1;
}
.home--moon__logo img {
  width: 16.67vw;
  height: auto;
}
@media (max-width: 1198.98px) {
  .home--moon__logo img {
    width: 21.0526315789vw;
  }
}
@media (max-width: 574.98px) {
  .home--moon__logo img {
    width: 32.9411764706vw;
  }
}
.home--moon__bg {
  position: absolute;
  inset: 0 0;
  transition-duration: 0.2s;
  background-color: rgb(28, 24, 38);
}
.home--moon__bg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 16, 28, 0.75);
  z-index: 2;
}
.home--moon__img {
  overflow: hidden;
  position: absolute;
  inset: 0px 0;
  z-index: 1;
}
.home--moon__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transition-duration: 0.2s;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0;
}
.home--moon__content {
  position: relative;
  inset: 0px 0px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 50vw;
  padding-top: 6.67vw;
  padding-bottom: 6.67vw;
}
@media (max-width: 1198.98px) {
  .home--moon__content {
    min-height: 60vh;
  }
}
.home--moon__content h2 {
  font-size: 5vw;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.home--moon__content h2 div {
  text-align: center;
}
@media (max-width: 1198.98px) {
  .home--moon__content h2 {
    font-size: 8.4210526316vw;
  }
}
@media (max-width: 574.98px) {
  .home--moon__content h2 {
    font-size: 9.4117647059vw;
  }
}
.home--moon__text {
  width: 35.7%;
  text-align: center;
  font-size: 1.39vw;
  color: rgb(255, 255, 255);
  padding-top: 24px;
}
@media (max-width: 1198.98px) {
  .home--moon__text {
    width: 66.6666666667%;
    font-size: 2.1052631579vw;
  }
}
@media (max-width: 574.98px) {
  .home--moon__text {
    width: 100%;
    font-size: 4.2352941176vw;
  }
}
.home--about {
  display: flex;
  position: relative;
}
@media (max-width: 574.98px) {
  .home--about {
    display: block;
  }
}
.home--about > .line {
  position: absolute;
  height: 1px;
  background-color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  opacity: 1;
  transition-duration: 0.4s;
}
.home--about > .line:nth-child(1) {
  left: 3.3vw;
  right: calc(100% - 3.3vw);
  top: 0;
}
@media (max-width: 574.98px) {
  .home--about > .line:nth-child(1) {
    left: 5.13vw;
    right: calc(100% - 5.13vw);
  }
}
.home--about > .line:nth-child(2) {
  left: calc(100% - 3.3vw);
  right: 3.3vw;
  bottom: 0;
}
@media (max-width: 574.98px) {
  .home--about > .line:nth-child(2) {
    left: calc(100% - 5.13vw);
    right: 5.13vw;
  }
}
.home--about.active > .line:nth-child(1) {
  right: 3.3vw;
}
@media (max-width: 574.98px) {
  .home--about.active > .line:nth-child(1) {
    left: 5.13vw;
    right: 5.13vw;
  }
}
.home--about.active > .line:nth-child(2) {
  left: 3.3vw;
}
@media (max-width: 574.98px) {
  .home--about.active > .line:nth-child(2) {
    left: 5.13vw;
    right: 5.13vw;
  }
}
.home--about.active .home-about-head > .line {
  bottom: 0;
}
.home--about .home-about-head {
  width: 28.47vw;
  padding: 2.78vw 2.78vw 2.78vw 0;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 574.98px) {
  .home--about .home-about-head {
    width: 100%;
    padding: 2.78vw 0 2.78vw 0;
  }
}
.home--about .home-about-head h2 {
  font-size: 2.64vw;
  padding-bottom: 1.39vw;
  display: block;
  line-height: 100%;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  text-transform: uppercase;
}
@media (max-width: 1198.98px) {
  .home--about .home-about-head h2 {
    font-size: 3.8596491228vw;
  }
}
@media (max-width: 574.98px) {
  .home--about .home-about-head h2 {
    font-size: 7.5294117647vw;
  }
}
.home--about .home-about-head p {
  font-size: 1.11vw;
  line-height: 140%;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}
@media (max-width: 1198.98px) {
  .home--about .home-about-head p {
    font-size: 1.4035087719vw;
  }
}
@media (max-width: 574.98px) {
  .home--about .home-about-head p {
    font-size: 3.7647058824vw;
  }
}
.home--about .home-about-head > .line {
  width: 1px;
  background-color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  position: absolute;
  top: 0;
  bottom: 100%;
  right: 0;
  transition-duration: 0.4s;
}
@media (max-width: 574.98px) {
  .home--about .home-about-head > .line {
    width: auto;
    height: 1px;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }
}
.home--about .home-about-content {
  width: 71.53vw;
  padding: 2.78vw 0 2.78vw 2.78vw;
  box-sizing: border-box;
  display: flex;
  gap: 2.78vw;
  position: relative;
}
@media (max-width: 574.98px) {
  .home--about .home-about-content {
    width: 100%;
    padding: 5.6470588235vw 0 0;
    display: block;
  }
}
.home--about .home-about-content .home-about-item {
  width: 50%;
}
@media (max-width: 574.98px) {
  .home--about .home-about-content .home-about-item {
    width: 100%;
  }
}
@media (max-width: 574.98px) {
  .home--about .home-about-content .home-about-item:nth-child(1) {
    position: relative;
  }
  .home--about .home-about-content .home-about-item:nth-child(1)::before {
    content: "";
    display: block;
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }
}
@media (max-width: 574.98px) {
  .home--about .home-about-content .home-about-item:nth-child(2) {
    border-top: 1px solid rgb(255, 255, 255);
    margin-top: 2.8235294118vw;
    padding-top: 2.8235294118vw;
  }
}
.home--about .home-about-content .home-about-item a {
  display: block;
  position: relative;
}
@media (max-width: 574.98px) {
  .home--about .home-about-content .home-about-item a::before {
    content: "";
    display: block;
    opacity: 0.7;
    background-color: rgb(20, 16, 28);
    position: absolute;
    inset: 0 0;
    z-index: 2;
  }
}
.home--about .home-about-content .home-about-item a .home-about-image {
  width: 100%;
  height: 29.17vw;
  overflow: hidden;
  position: relative;
}
@media (max-width: 574.98px) {
  .home--about .home-about-content .home-about-item a .home-about-image {
    height: auto;
  }
}
.home--about .home-about-content .home-about-item a .home-about-image img {
  width: 100%;
  height: 29.17vw;
  object-fit: cover;
  display: block;
  transition-duration: 0.4s;
  transform: scale(1.05);
}
@media (max-width: 574.98px) {
  .home--about .home-about-content .home-about-item a .home-about-image img {
    height: auto;
  }
}
.home--about .home-about-content .home-about-item a .home-about-title {
  padding-top: 1.39vw;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  font-size: 2.22vw;
  font-weight: 400;
}
@media (max-width: 1198.98px) {
  .home--about .home-about-content .home-about-item a .home-about-title {
    font-size: 2.4561403509vw;
  }
}
@media (max-width: 574.98px) {
  .home--about .home-about-content .home-about-item a .home-about-title {
    font-size: 9.4117647059vw;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding-top: 0;
    padding-bottom: 0;
    line-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    mix-blend-mode: normal;
  }
}
.home--about .home-about-content .home-about-item a:hover .home-about-image img {
  transform: scale(1.1);
}

.work__row {
  position: relative;
}
.work__container {
  width: 100%;
  position: relative;
}
.work__container .work-head {
  width: 46.666666%;
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: difference;
  z-index: 3;
}
@media (max-width: 574.98px) {
  .work__container .work-head {
    width: 100%;
    position: relative;
    padding-bottom: 9.4117647059vw;
  }
}
.work__container .work-head h2 {
  padding-top: 1.67vw;
  border-top: 1px solid rgb(255, 255, 255);
  font-size: 3.33vw;
  color: rgb(255, 255, 255);
  display: block;
  padding-bottom: 1.67vw;
  text-transform: uppercase;
  line-height: 100%;
  mix-blend-mode: difference;
}
@media (max-width: 1198.98px) {
  .work__container .work-head h2 {
    font-size: 2.8070175439vw;
  }
}
@media (max-width: 990.98px) {
  .work__container .work-head h2 {
    font-size: 3.6290322581vw;
  }
}
@media (max-width: 574.98px) {
  .work__container .work-head h2 {
    padding-top: 3.7647058824vw;
    padding-bottom: 3.7647058824vw;
    font-size: 8.4705882353vw;
  }
}
.work__container .work-content p {
  font-size: 1.25vw;
  line-height: 140%;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
@media (max-width: 1198.98px) {
  .work__container .work-content p {
    font-size: 1.7543859649vw;
  }
}
@media (max-width: 990.98px) {
  .work__container .work-content p {
    font-size: 2.2177419355vw;
  }
}
@media (max-width: 574.98px) {
  .work__container .work-content p {
    font-size: 4.7058823529vw;
  }
}
.work__container .work-list {
  position: relative;
  overflow: hidden;
}
.work__container .work-list::before {
  content: "";
  display: block;
  height: 67.22vw;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #ffffff 50%, #ffffff 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
@media (max-width: 574.98px) {
  .work__container .work-list::before {
    display: none;
  }
}
.work__container .work-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.33vw;
  padding-bottom: 32.85vw;
  direction: rtl;
}
@media (max-width: 574.98px) {
  .work__container .work-list ul {
    grid-template-columns: 1fr 0;
    column-gap: 0;
    row-gap: 3.7647058824vw;
    padding-bottom: 0;
  }
}
.work__container .work-list ul li {
  width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  transition-duration: 0.4s;
  transition-delay: 0.4s;
  list-style: none;
}
.work__container .work-list ul li:nth-child(even) {
  transform: translateY(32.85vw);
}
.work__container .work-list ul li.active {
  background-color: white;
}
.work__container .work-list ul li.active .work-content {
  opacity: 1;
}
.work__container .work-list ul li.active .work-content:before {
  transform: translateY(-102%);
}
.work__container .work-list ul li.active:nth-child(even) {
  background-color: white;
}
.work__container .work-list ul li .work-content {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition-duration: 0.4s;
}
.work__container .work-list ul li .work-content img {
  width: 100%;
  height: 56.94vw;
  object-fit: cover;
  display: block;
  transition-duration: 0.4s;
}
@media (max-width: 574.98px) {
  .work__container .work-list ul li .work-content img {
    min-height: 56.94vw;
    height: auto;
  }
}
.work__container .work-list ul li .work-content::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0 0;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  transform: translateY(0);
  transition-delay: 0.4s;
  transition-duration: 0.4s;
}
.work__container .work-list ul li .work-list-head .work-title {
  padding-top: 2.22vw;
  padding-bottom: 3.33vw;
}
@media (max-width: 574.98px) {
  .work__container .work-list ul li .work-list-head .work-title {
    padding-top: 3.7647058824vw;
    padding-bottom: 3.7647058824vw;
  }
}
.work__container .work-list ul li .work-list-head .work-title h5 {
  padding-bottom: 1.11vw;
  font-size: 1.11vw;
  color: rgba(255, 255, 255, 0.4);
  line-height: 100%;
  display: block;
  mix-blend-mode: difference;
}
@media (max-width: 1198.98px) {
  .work__container .work-list ul li .work-list-head .work-title h5 {
    font-size: 1.7543859649vw;
  }
}
@media (max-width: 574.98px) {
  .work__container .work-list ul li .work-list-head .work-title h5 {
    font-size: 3.7647058824vw;
  }
}
.work__container .work-list ul li .work-list-head .work-title h4 {
  font-size: 2.22vw;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 95%;
  mix-blend-mode: difference;
}
@media (max-width: 1198.98px) {
  .work__container .work-list ul li .work-list-head .work-title h4 {
    font-size: 2.8070175439vw;
  }
}
@media (max-width: 574.98px) {
  .work__container .work-list ul li .work-list-head .work-title h4 {
    padding-bottom: 1.8823529412vw;
    font-size: 7.5294117647vw;
  }
}
.work__container .work-list .work-more-btn {
  background-color: rgb(255, 255, 255);
  padding: 1.11vw 2.22vw;
  border-radius: 6.66vw;
  position: absolute;
  bottom: 8.75vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  mix-blend-mode: difference;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
}
@media (max-width: 574.98px) {
  .work__container .work-list .work-more-btn {
    width: 89.4117647059vw;
    border-radius: 9.4117647059vw;
    padding: 1.8823529412vw 2.8235294118vw;
  }
}
.work__container .work-list .work-more-btn::before {
  position: absolute;
  inset: 0 100% 0 0;
  background-color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  content: "";
  display: block;
  transition-duration: 0.4s;
}
.work__container .work-list .work-more-btn:hover::before {
  inset: 0 0 0 0;
}
.work__container .work-list .work-more-btn .work-more-title {
  font-size: 2.45vw;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: center;
  mix-blend-mode: difference;
}
@media (max-width: 574.98px) {
  .work__container .work-list .work-more-btn .work-more-title {
    line-height: 100%;
    padding-bottom: 0.9411764706vw;
    font-size: 7.0588235294vw;
  }
}
.work__container .work-list .work-more-btn .work-more-subtitle {
  font-size: 0.96vw;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
  mix-blend-mode: difference;
}
@media (max-width: 574.98px) {
  .work__container .work-list .work-more-btn .work-more-subtitle {
    font-size: 2.8235294118vw;
  }
}

.bg-black .work__container .work-list::before {
  background: linear-gradient(rgba(20, 16, 28, 0) 0%, #14101c 50%, #14101c 100%);
}
.bg-black .work__container .work-list ul li.active {
  background-color: transparent;
}

body.work .work__container .work-list::before {
  display: none;
}

body.work .work__container .work-list ul li .work-content {
  opacity: 1;
}

body.work .work__container .work-list ul li .work-content::before,
body.work .work__container .work-list ul li.active .work-content::before {
  display: none;
}

@media (max-width: 574.98px) {
  body.work .work__container .work-head {
    display: none;
  }
}

.about--head {
  transform-origin: center;
  will-change: transform;
  padding-bottom: 16.1111111111vw;
}
.about--head.ani-load .img-mask {
  width: 100%;
  overflow: hidden;
}
.about--head.ani-load .img-mask img {
  transform: scale(1.5);
  opacity: 0;
  height: 60vh;
  max-height: 980px;
}
.about--head.ani-load.ani-loaded .img-mask img {
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition-duration: 3s;
  opacity: 1;
}
.about--head .about-text {
  padding-top: 1.6666666667vw;
  width: 83.3333333333%;
  font-size: 1.8055555556vw;
  line-height: 150%;
}

.about-me {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 48px;
}
.about-me .about-col {
  width: calc(100% - 48px);
}
.about-me .about-col .about-image {
  overflow: hidden;
  min-height: 720px;
  position: relative;
}
@media (max-width: 574.98px) {
  .about-me .about-col .about-image {
    display: none;
  }
}
.about-me .about-col .about-image img {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%) scale(1);
  transition-duration: 0.4s;
  width: 100%;
  object-fit: cover;
}

.about-item {
  color: rgb(20, 16, 28);
  padding-bottom: 8.3333333333vw;
}
.about-item:last-child {
  padding-bottom: 0;
}
.about-item--number {
  font-size: 1.6666666667vw;
  border-bottom: 1px solid rgb(20, 16, 28);
  padding-bottom: 1.3888888889vw;
}
.about-item--subtitle {
  padding-top: 1.9444444444vw;
  padding-bottom: 0.8333333333vw;
  font-size: 1.3888888889vw;
  display: block;
}
.about-item--title {
  font-size: 2.5vw;
  padding-bottom: 2.2222222222vw;
  display: block;
  padding-right: 2.0833333333vw;
  font-weight: 500;
  line-height: 115%;
  text-transform: capitalize;
}
.about-item--text {
  font-size: 1.1111111111vw;
  line-height: 150%;
}

.about-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}
.about-skills .about-skills-col {
  border-top: 1px solid rgb(20, 16, 28);
  padding-top: 2.2222222222vw;
}
.about-skills .about-skills-col h2 {
  font-size: 1.6666666667vw;
  text-transform: capitalize;
  font-weight: 500;
  padding-bottom: 1.1111111111vw;
  color: rgb(20, 16, 28);
  display: block;
}
.about-skills .about-skills-col ul li {
  font-size: 0.9722222222vw;
  color: rgb(20, 16, 28);
  list-style: none;
  margin: 0;
  padding: 0 0 0.4166666667vw;
}

.pin-spacer {
  will-change: transform; /* 애니메이션 최적화 */
  transition: transform 0.3s ease-out; /* 부드러운 이동 */
}

/*# sourceMappingURL=style.css.map */
