/* Image Path */
$img-path: "../creative-moon/img/";

/* Colors */
$white: rgba(255,255,255,1);
$black: rgba(20, 16, 28,1);

$light-grey: #efefef;
$purple: #150c27;
$light-purple: #3D3560;

$red: #D22E14;
$grey: #aaa;

$blue: #3922a4;

$grey_01: #dfdfdf;
$grey_02: #888;

/* Gradient */
$gradient_01: #D22E14;
$gradient_02: #DA0080;