    <div class="contact--talk section">
        <div class="contact-talk-box">
            <h2>
                <a href="/contact/">
                    Say Hello
                    <span class="ico-moon-full"></span>
                    <span class="ico-moon-gibbous"></span>
                    <span class="ico-moon-half"></span>
                    <span class="ico-moon-crescent"></span>
                </a>
            </h2>
            <p class="contact-talk-tail">Let’s create something great together.</p>
        </div>

    </div>